html,body {
  font-family: 'Indie Flower', cursive;
  background:black;
  margin:0;
  height: 90%;
  margin-top:2%;
  background-image:url('../img/darknoise.png');
}

#uno{
  width:80%;
  max-width: 320px;
  height: 90%;
  max-height: 480px;

  margin:auto;
  background: white;
  padding:20px; 
  color:black;
  
}

